.sport{
     width: available;
     height: available;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr;
     grid-template-areas:
             'section-1 section-1 section-1'
             'section-add-1 section-add-1 .'
             'section-2 section-2 section-2'
             'section-3 section-3 section-3';
 }




.section-1{
    grid-area: section-1;
}

.section-2{
    grid-area: section-2;
    position: relative;
}

.section-3{
    grid-area: section-3;
    position: relative;
}
.section-add-1{
    grid-area: section-add-1;
}

.section-add-2{
    grid-area: section-add-2;
}


