/* to change the background color and text color */
.color{
	position:absolute;
	top:2%;
	left:3%;}
	/* to change the background color and text color */
.color{
	position:absolute;
	top:2%;
	left:3%;
}

body {font-family: Arial, Helvetica, sans-serif;}

#myImgrugby {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImgrugby:hover {opacity: 0.7;}

/* The Modal (background) */
.modalrugby {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentrugby {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#captionrugby {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #captionrugby {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

/*Keyframe Animation Syntax*/
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.closerugby {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.closerugby:hover,
.closerugby:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* image position */
div.absoluterugby {
	position: absolute;
	top: 350px;
	left:20px;
	width: 300px;
	height: 200px;

}

div.absoluterugby1{
	position: absolute;
	top: 600px;
	left:20px;
	width: 200px;
	height: 100px;

}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-contentrugby {
		width: 100%;
	}
}

----------------------------------------------------------------------



#myImgCrickety {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImgCricket:hover {opacity: 0.7;}

/* The Modal (background) */
.modalCricket {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentCricket {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#captionCricket {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-contentCricket, #captionCricket {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

/*Keyframe Animation Syntax*/
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.closeCricket {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.closeCricket:hover,
.closeCricket:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* image position */
div.absoluteCricket {
	position: absolute;
	top: 350px;
	left:380px;
	width: 300px;
	height: 200px;

}

div.absoluteCricket1{
	position: absolute;
	top: 600px;
	left:380px;
	width: 300px;
	height: 50px;

}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-contentCricket {
		width: 100%;
	}
}
----------------------------------------------------------------------


#myImgf1 {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImgf1:hover {opacity: 0.7;}

/* The Modal (background) */
.modalf1 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentf1 {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#captionf1 {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-contentf1, #captionf1 {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

/*Keyframe Animation Syntax*/
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.closef1 {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.closef1:hover,
.closef1:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* image position */
div.absolutef1 {
	position: absolute;
	top: 350px;
	left:720px;
	width: 400px;
	height: 300px;

}

div.absolutef1-1{
	position: absolute;
	top: 600px;
	right: 600px;
	width: 200px;
	height: 100px;

}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-contentf1 {
		width: 100%;
	}
}



----------------------------------------------------------------------


#myImgswimming {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#myImgswimming:hover {opacity: 0.7;}

/* The Modal (background) */
.modalswimming {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 0;
	width: 100%; /* Full width */
	height: 100%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-contentswimming {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
}

/* Caption of Modal Image */
#captionswimming {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation */
.modal-content, #captionswimming {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

/*Keyframe Animation Syntax*/
@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
.closeswimming {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

.closeswimming:hover,
.closeswimming:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* image position */
div.absoluteswimming {
	position: absolute;
	top: 350px;
	left:1050px;
	width: 300px;
	height: 200px;

}

div.absoluteswimming1{
	position: absolute;
	top: 600px;
	left:1050px;
	width: 200px;
	height: 100px;

}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-contentswimming {
		width: 100%;
	}
}
