body {
    margin: 0;
    font-family: Helvetica;
}

/* Css Grid */

.main {
    width: available;
    height: available;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
    'logo topnav topnav topnav'
    'slideshow slideshow slideshow slideshow '
    'extra-links extra-links extra-links extra-links'
    'products products gallery gallery'
    'page-editors page-editors page-editors page-editors'
    'footer footer footer footer';
}

/*Web Site Logo */
.logo {
    margin-top: -10px;
    margin-right: 2px;
}

.brand-logo {
    float: left;
    margin-top: 20px;
    grid-area: logo;
}

/*Navigation bar*/
.navbar {
    overflow: hidden;
    background-color: white;
    grid-area: topnav;
    margin-top: 12px;
    margin-right: 15px;
}

.navbar a {
    float: right;
    font-family: Helvetica;
    font-size: 16px;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: right;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;
    font-family: Helvetica;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffde59;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}
/*slideshow---------------*/

/* Style the content */

.content {
    background-color: #ddd;
    padding: 0px;
    grid-area: slideshow;
}


/* Style the footer */

.footer {
    background-color: #f1f1f1;
    padding: 10px;
    grid-area: footer;
}

.imgcontainer {
    padding-top: 0px;
    grid-area: slideshow;
}

.slider {
    overflow: hidden;
    grid-area: slideshow;
}

.img {
    position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 20s slider infinite;
}

.src {
    float: left;
    width: 20%;
}
/*animation duration for slideshow*/
@keyframes slider {
    0% {
        left: 0;
    }
    20% {
        left: 0;
    }
    25% {
        left: -100%;
    }
    45% {
        left: -100%;
    }
    50% {
        left: -200%;
    }
    70% {
        left: -200%;
    }
    75% {
        left: -300%;
    }
    95% {
        left: -300%;
    }
    100% {
        left: -300%;
    }
}


/*middle content*/

.extra-links {
    grid-area: extra-links;
    font-size: 40px;
    text-align: center;
    font-family: Helvetica;
    background-color: #ffde59;
}

.gallery {
    grid-area: gallery;
    background-color: whitesmoke;
}
/*fixed photo box for Gallery photo*/
.cropped {
    width: 760px;
    height: 440px;
    object-fit: cover;
    position: relative;
    float: right;
    margin-right: 15px;
    overflow: hidden;
    position: relative;
}
/*Video Clip Alligining*/
.products {
    grid-area: products;
    background-color: whitesmoke;
}

/*fixed box size for video*/
video {
    width: 760px;
    height: 440px;
    object-fit: cover;
}

/*page editor*/
.page-editors {
    grid-area: page-editors;
    background-color: ghostwhite;
}


.column {
    float: right;
    width: 99%;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.container {
    padding: 0 20px;
    padding-top: 20px;
    background-color: #ffde59;
}


/* Clear floats */

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    font-family: Helvetica;
    color: grey;
    text-align: center;
}

.button {
    font-family: Helvetica;
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #ffde59;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #555;
}



/*complete footer css */

* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}






/*footer section starts here*/
.footer {
    width: available;
    background: #414242;
    display: block;
}

.inner-footer {
    width: 95%;
    margin: auto;
    padding: 5px 10px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
}

.footer-item {
    width: 25%;
    padding: 10px 20px;
    box-sizing: border-box;
}

h2 {
    margin: 10px 0;
    color: whitesmoke;
    font-size: 16px;
    font-weight: lighter;
    text-transform: uppercase;
}

.border {
    height: 2px;
    width: 40px;
    background: white;
}

ul {
    list-style: none;
    color: yellow;
    font-size: 15px;
    letter-spacing: 0.5px;
}

ul a {
    text-decoration: none;
    outline: none;
    color: beige;
}

ul a:hover {
    color: yellow;
}

ul li {
    margin: 10px;
    height: 25px;
}

li i {
    margin-right: 20px;
}

.footer-bottom {
    height: 30px;
    padding: 10px;
    background: white;
    color: black;
    font-size: 12px;
}

.editor {
    text-decoration: none;
}

.editor:hover {
    color: red;
}

.details {
    font-family: Helvetica;
    font-size: 10px;
    text-align-all: center;
    -webkit-text-fill-color: white;
}




