.mp4 filter=lfs diff=lfs merge=lfs -text
.mp4[[:space:]],[[:space:]].png filter=lfs diff=lfs merge=lfs -text
.mp4[[:space:]],[[:space:]].png[[:space:]],[[:space:]].jpg[[:space:]],.jpeg filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
*.mp4[[:space:]],[[:space:]]*.png[[:space:]],[[:space:]]*.jpg[[:space:]],[[:space:]]*.jpeg filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
